*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea/*
!.idea/runConfigurations.xml
!.idea/xcode.xml
!.idea/runConfigurations/
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
/TestApk
/iosApp/env/env_config.properties
/iosApp/env/env_config.properties?
/iosApp/Pods/
*/*.podspec
/iosApp/.bundle/
/iosApp/Podfile.lock