<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:name=".Application"
        android:icon="@drawable/app_launcher_icon"
        android:label="${APP_NAME}"
        android:roundIcon="@drawable/app_launcher_icon"
        android:supportsRtl="true"
        tools:replace="android:allowBackup,android:label"
        android:networkSecurityConfig="@xml/network_security_config">
        <!-- 注意：不要用singleTask，由于有些手机（如小米）有兼容问题，会导致每次点桌面icon都会启动新的实例 -->
        <activity
            android:exported="true"
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.App.Splash.Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="${DEEP_LINK_HOST}"
                    android:scheme="${DEEP_LINK_SCHEME}" />
            </intent-filter>
        </activity>
    </application>

</manifest>